<?xml version="1.0"?>

<model>
  <name>MMNautronics Prototype</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Sami Yusuf Eskin</name>
    <email>samiyusufeskin@gmail.com</email>
  </author>

  <maintainer>Sami Yusuf Eskin</maintainer>

  <description>
    METU MECH Nautronics prototype vehicle model
  </description>
</model>