<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prototype">

  <xacro:include filename="macros/pipe_macro.xacro" />
  <xacro:include filename="macros/thruster_macro.xacro" />
  <xacro:include filename="macros/plugins.xacro" />
  <xacro:include filename="macros/imu_macro.xacro"/>
  <xacro:include filename="macros/sonar_macro.xacro" />
  <xacro:include filename="macros/camera_macro.xacro" />

  <link name="base_link">
    
    <inertial>
      <origin xyz="0 0 -0.0114" rpy="0 0 0"/> 
      <mass value="12.8"/> <inertia 
        ixx="0.26" ixy="0" ixz="0" 
        iyy="0.23" iyz="0" 
        izz="0.37"/>    
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://auv_description/models/prototype_vehicle/meshes/sim.obj"/>
      </geometry>
    </visual>

    <collision name="base_collision">
      <origin xyz="0 0 0.376" rpy="0 0 0"/> 
      <geometry>
        <box size="0.457 0.575 0.05"/> 
      </geometry>
    </collision>
  </link>

  <xacro:add_imu name="imu_sensor" parent_link="base_link" update_rate="400.0" 
                 x="0" y="0" z="0" r="${pi}" p="0" yaw="0" />
                 
  <xacro:add_imu name="vio_imu" parent_link="base_link" update_rate="50.0" topic="/imu0" 
                 x="0" y="0" z="0" r="0" p="0" yaw="0" />

  <xacro:add_sonar 
      name="ping_sonar" 
      parent_link="base_link" 
      topic="sensors/sonar/front"
      x="0.188254" y="-0.038661" z="0.09952" 
      r="0.0" p="0.0" yaw="0.0" />

  <xacro:add_camera
    name="front_camera"
    parent_link="base_link"
    topic="/camera/front"
    x="0.177035" y="0.0" z="0.0"
    r="0.0" p="0.0" yaw="0.0"
    color="Blue" />

    <xacro:add_camera
    name="bottom_camera"
    parent_link="base_link"
    topic="/camera/bottom"
    x="0.0" y="0.0" z="-0.043071"
    r="0.0" p="1.57" yaw="0.0"
    color="Green" />

    <xacro:add_camera
    name="back_camera"
    parent_link="base_link"
    topic="/camera/back"
    x="-0.177035" y="0.0" z="0.0"
    r="0.0" p="0.0" yaw="3.14"
    color="Green" />




  <xacro:add_thruster id="1" x="0.2201"  y="-0.1126" z="-0.0224" r="-1.571" p="1.571" yaw="-0.785" prop_type="ccw" coeff="0.02" />
  <xacro:add_thruster id="2" x="0.2201"  y="0.1126"  z="-0.0224" r="-1.571" p="1.571" yaw="-2.356" prop_type="ccw" coeff="0.02" />
  <xacro:add_thruster id="3" x="-0.2201" y="-0.1126" z="-0.0224" r="-1.571" p="1.571" yaw="0.785"  prop_type="cw"  coeff="-0.02" />
  <xacro:add_thruster id="4" x="-0.2201" y="0.1126"  z="-0.0224" r="-1.571" p="1.571" yaw="2.356"  prop_type="cw"  coeff="-0.02" />
  
  <xacro:add_thruster id="5" x="0.0884"  y="-0.2126" z="0.0056"  r="0" p="0" yaw="0" prop_type="ccw" coeff="0.02" />
  <xacro:add_thruster id="6" x="0.0884"  y="0.2126"  z="0.0056"  r="0" p="0" yaw="0" prop_type="cw"  coeff="-0.02" />
  <xacro:add_thruster id="7" x="-0.0884" y="-0.2126" z="0.0056"  r="0" p="0" yaw="0" prop_type="cw"  coeff="-0.02" />
  <xacro:add_thruster id="8" x="-0.0884" y="0.2126"  z="0.0056"  r="0" p="0" yaw="0" prop_type="ccw" coeff="0.02" />

</robot>