<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="gz-sim-hydrodynamics-system" name="gz::sim::systems::Hydrodynamics">
      <link_name>base_link</link_name>
      <water_density>1000.0</water_density>
      <xDotU>0</xDotU> <yDotV>0</yDotV> <zDotW>0</zDotW>
      <kDotP>0</kDotP> <mDotQ>0</mDotQ> <nDotR>0</nDotR>
      <xU>0</xU> <yV>0</yV> <zW>0</zW>
      <kP>0</kP> <mQ>0</mQ> <nR>0</nR>
      <xUabsU>-58.42</xUabsU> <yVabsV>-55.137</yVabsV> <zWabsW>-124.818</zWabsW>
      <kPabsP>-4.0</kPabsP>   <mQabsQ>-4.0</mQabsQ>   <nRabsR>-4.0</nRabsR>
    </plugin>

    <plugin name="ArduPilotPlugin" filename="libArduPilotPlugin.so">
      <fdm_addr>127.0.0.1</fdm_addr>
      <fdm_port_in>9002</fdm_port_in>
      <connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>
      <lock_step>1</lock_step>
      <modelXYZToAirplaneXForwardZDown>0 0 0 3.142 0 0</modelXYZToAirplaneXForwardZDown>
      <gazeboXYZToNED>0 0 0 3.142 0 1.571</gazeboXYZToNED>
      <imuName>imu_sensor</imuName>
      
      <control channel="0"><jointName>thruster1_joint</jointName><servo_min>1000</servo_min><servo_max>2000</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster1_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
      <control channel="1"><jointName>thruster2_joint</jointName><servo_min>1100</servo_min><servo_max>1900</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster2_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
      <control channel="2"><jointName>thruster3_joint</jointName><servo_min>1100</servo_min><servo_max>1900</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster3_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
      <control channel="3"><jointName>thruster4_joint</jointName><servo_min>1100</servo_min><servo_max>1900</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster4_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
      <control channel="4"><jointName>thruster5_joint</jointName><servo_min>1100</servo_min><servo_max>1900</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster5_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
      <control channel="5"><jointName>thruster6_joint</jointName><servo_min>1100</servo_min><servo_max>1900</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster6_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
      <control channel="6"><jointName>thruster7_joint</jointName><servo_min>1100</servo_min><servo_max>1900</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster7_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
      <control channel="7"><jointName>thruster8_joint</jointName><servo_min>1100</servo_min><servo_max>1900</servo_max><type>COMMAND</type><cmd_topic>/model/prototype/joint/thruster8_joint/cmd_thrust</cmd_topic><offset>-0.5</offset><multiplier>100</multiplier></control>
    </plugin>


        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <update_rate>50</update_rate>
      <topic>/model/prototype_vehicle/joint_state</topic> </plugin>
  </gazebo>







</robot>